{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="blockhomepage d-flex justify-content-center flex-column align-items-center">
			<img class="home_img" src="{{ asset('build/images/logo.png') }}" alt="One piece" width="470" height="200"/>
			<p class="mt-2 text-secondary">"Les gens ne cesseront jamais d'avoir des reves ! " -
				<span class="fst-italic text-secondary">Barbe Noire</span>
			</p>
		</div>
	</div>
{% endblock %}
