{% extends 'layoutAdmin.html.twig' %}

{% block content %}
	<div>
		<h2 class="mb-5 text-center">Accueil</h2>
		<p>Bienvenue dans votre espace administrateur. Utilisez la barre de navigation ci-dessus pour administrer la catégorie de votre choix.</p>
	</div>
{% endblock %}
