@import "_theme";

.crewform {
    background: rgba(236, 201, 145, 0.7);
    border-radius: 10px;
}

body {
    color: $secondary;
}

tr {
    color: $background;
}

table {
    background: rgba(236, 201, 145, 0.7);
    border-radius: 10px;
}