@import "_theme";

body {
    color: $secondary;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.blockhomepage {
    margin-top: 150px;
}