<nav class="navbar navbar-expand-lg nav-custom navbar-light bg-transparent">
	<div class="container-fluid">
		<a class="navbar-brand" href="#"><img class="home_img" src="{{ asset('build/images/flag.png') }}" alt="One piece" width="60" height="50"/></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon text-secondary"></span>
		</button>
		<div class="collapse navbar-collapse d-flex justify-content-end me-5" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active text-secondary" aria-current="page" href="#">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-secondary" href="#">Equipages</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-secondary" href="#">Personnages</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-secondary" href="#">Se connecter
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
